<h1>PC Builder</h1>

<h2>Browse Categories</h2>
<table border="1" cellpadding="8" cellspacing="0">
  <tr>
    <th>Category</th>
    <th>Sample Parts</th>
    <th>Actions</th>
  </tr>

  <% @categories.each do |name, klass| %>
    <tr>
      <td><strong><%= name %></strong></td>
      <td>
        <% if @sample_parts[name].any? %>
          <ul>
            <% @sample_parts[name].each do |part| %>
              <li><%= link_to "#{part.brand} #{part.name}", part_path(part) %></li>
            <% end %>
          </ul>
        <% else %>
          <em>No parts available</em>
        <% end %>
      </td>
      <td><%= link_to "View all #{name.pluralize}", parts_path(q: name) %></td>
    </tr>
  <% end %>
</table>

<h2>Recent Builds</h2>
<% if @recent_builds.any? %>
  <ul>
    <% @recent_builds.each do |b| %>
      <li><%= link_to b.name, build_path(b) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No builds yet. <%= link_to "Create one", new_build_path %></p>
<% end %>
